<footer class="relative bg-white border-t-2 border-[#2222225d]">
    <div
      class="container px-6 py-4 mx-auto"
    >
      <div class="text-right">
          <span class="font-medium">&copy;&nbsp;Quik Drop</span>
      </div>
    </div>
  </footer>
  